.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  min-width: 150px;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);

  padding: 0 14px;
  border-radius: 12px;
  border: 1.5px solid var(--primary-color);
  cursor: pointer;
}

// style
.white {
  color: var(--primary-color);
  background-color: white;
  border-color: white;
}

.white_blur {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

.red {
  background-color: var(--red-color);
  border-color: var(--red-color);
}

.green {
  background-color: var(--green-color);
  border-color: var(--green-color);
}

.yellow {
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
}

.outline {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
}

.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

// size

.small {
  height: 40px;
}

.large {
  height: 56px;
}
