.wrapper {
  height: 48px;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--gray-color);
  border-bottom: 2px solid currentColor;
}

.wrapper.active {
  color: var(--primary-color);
  font-weight: 600;
}

@media (max-width: 639px) {
  .wrapper {
    font-size: 1.4rem;
  }
}
