.inner {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 1.4rem;
  text-transform: capitalize;
}

.inner.low {
  color: var(--green-color);
}

.inner.medium {
  color: var(--primary-color);
}

.inner.hight {
  color: var(--yellow-color);
}

.inner.urgent {
  color: var(--red-color);
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  color: currentColor;
}
